@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "tropical";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(98% 0.02 100);
  --color-base-200: oklch(95% 0.02 100);
  --color-base-300: oklch(90% 0.03 100);
  --color-base-content: oklch(20% 0.05 200);
  --color-primary: oklch(65% 0.25 160);
  --color-primary-content: oklch(98% 0.01 160);
  --color-secondary: oklch(75% 0.20 50);
  --color-secondary-content: oklch(20% 0.05 50);
  --color-accent: oklch(70% 0.23 310);
  --color-accent-content: oklch(98% 0.01 310);
  --color-neutral: oklch(40% 0.05 200);
  --color-neutral-content: oklch(98% 0.01 200);
  --color-info: oklch(70% 0.18 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.20 150);
  --color-success-content: oklch(98% 0.01 150);
  --color-warning: oklch(75% 0.18 70);
  --color-warning-content: oklch(20% 0.05 70);
  --color-error: oklch(60% 0.22 25);
  --color-error-content: oklch(98% 0.01 25);

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.75rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;

  --depth: 0;
  --noise: 0;
}


@theme {
  --font-jakarta-sans: var(--font-plus-jakarta-sans), sans-serif;
}
